<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso :: Twitter</title>
</head>
<body>
<pre>
> Bem vindo ao curso "O que o twitter está pensando? Extraindo informações de redes sociais usando python."
> <strong>by <a href="http://www.instagram.com/profadolfoguimaraes">@profadolfoguimaraes</a></strong>

> Todas as informações do curso podem ser acessadas em: <a href="http://www.data2learning.com/cursos" target="_blank">www.data2learning.com/cursos</a>

> Correções e sugestões podem ser enviadas para: <a href="mailto:adolfo@data2learning.com">adolfo@data2learning.com</a>
</pre>

</body>
</html>